.Calculator {
    border-style: outset;
    border-width: 2px;
    position: relative;
    background-color: seashell;
}

.calcInput {
    margin-top: 20px;
    margin-bottom: 20px;
}

.numberInput {
    box-sizing: content-box;
    line-height: 1.39;
}

.valueSelect {
    box-sizing: content-box;
    width: auto;
    line-height: 1.39;
}

input, button, select, optgroup, textarea {
    margin: 20px;
}

.calcOutput {
    text-align: center;
    border-style: inset;
    border-width: 1px;
    position: center;
}

#viewChanger {
    position: center;
}

#viewButtons {
    text-align: right;
    width: 100%;
    display: inline-block;
}

.btn-primary {
    width: 45%;
    margin: 5px;
    text-align: center;
}